<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserAuth</title>
</head>
<body>
    <h1>Url-Shortener-User-SignUp-Page</h1>
    <form action="/user" method="POST">
        <label >Enter Name : </label>
        <input type="text" name="name" placeholder="fullname">
        <label >Enter Email : </label>
        <input type="email" name="email" placeholder="example.@gmail.com">
        <label >Enter password : </label>
        <input type="password" name="password"  placeholder="password" >
            <button type="submit">SignUp</button>
    </form>
</body>
</html>